.composition {
    position: relative;

    &__photo {

        width:55%;
        box-shadow: $shadow-small;
        border-radius: 2px;
        position: absolute;
        z-index: 10;
        transition: all .2s;
        // padding of the border
        outline-offset: 1.5rem;

        &--p1 {
            left:0;
            top: -2rem;
        }

        &--p2 {
            right: 0;
            top: 1rem;
        }

        &--p3 {
            left: 15%;
            top: 10rem;
        }

        &:hover {
            //box outline
            outline: 1.5rem solid $color-primary;
            transform: scale(1.3) translateY(-.5rem);
            box-shadow: 0 3rem 4rem rgba($color-black,.2);
            z-index: 20;
        }
    }

    //composition:hover composition__photo:not(:hover)
    &:hover &__photo:not(:hover){
        transform: scale(.8);
    }
}